.card-container {
  margin: 0 auto;
  width: 100%;
  max-width: 1440px;
  column-count: 3;
}

@media (max-width: 767px) {
  .card-container {
    columns: 2;
  }
}

@media (max-width: 480px) {
  .card-container {
    columns: 1;
  }
}

.custom-card {
  margin: 1rem;
  border: 1px solid #ccc;
  box-shadow: 10px 7px 15px -8px rgba(0, 0, 0, 0.75);
  break-inside: avoid;
  page-break-inside: avoid;
  border-radius: 25px;
}

.custom-card img {
  border-radius: 25px;
}
